<div class="accordion">
  <label class="accordion-header" for="accordion-head-1">
    Head1
  </label>
  <input type="checkbox" id="accordion-head-1" hidden>
  <div class="accordion-body">
    <p>Body1 Body1</p>
  </div>
  <label class="accordion-header" for="accordion-head-2">
    Head2
  </label>
  <input type="checkbox" id="accordion-head-2" hidden>
  <div class="accordion-body">
    <ul>
      <li>Body2</li>
      <li>Body2</li>
    </ul>
  </div>
</div>

<pre class="language-html"><code class="language-html"><%= include("./samples/accordions.html") %></code></pre>
