<form action="#">
  <label for="name-input" class="form-label">Name</label>
  <input id="name-input" class="form-input" type="text" placeholder="Your Name">
  <label for="birth-select" class="form-label">Birth Year</label>
  <select id="birth-select" class="form-select">
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
  <label class="form-label checkbox-label">
    <input type="checkbox">
    Check 1
  </label>
  <label class="form-label checkbox-label">
    <input type="checkbox">
    Check 2
  </label>
</form>
