*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: $text-color;
  font-family: system-ui, -apple-system, "Hiragino Sans", "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($color: $link-color, $amount: 20%);
  }
}
