.btn {
  background: white;
  border: solid 1px $border-color;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.6rem 1rem;
  outline: none; // focus のときに出るのを防ぐ
  &:hover,
  &:focus {
    background: $bg-color;
  }
  &-primary {
    background: $primary-color;
    border: none;
    color: white;
    &:hover,
    &:focus {
      background: darken($color: $primary-color, $amount: 5%);
    }
  }
}
