<button class="btn">Button</button>
<button class="btn btn-primary">Primary Button</button>

<pre class="language-html"><code class="language-html"><%= include("./samples/buttons.html") %></code></pre>
