.form-label {
  display: inline-block;
  padding: 0.5em 0;
}

.form-input,
.form-select select {
  appearance: none;
  background: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 0.6em;
  transition: border-color 0.3s;
  width: 100%;
  &:focus {
    border-color: $primary-color;
  }
}

.form-input {
  &::placeholder {
    color: $border-color;
  }
}

.form-select select {
  transition: none;
}

.form-select {
  display: block;
  position: relative; // for pseudo elements
  width: 100%;
  & select {
    cursor: pointer;
  }
  &::after {
    // https://www.granfairs.com/blog/staff/make-triangle-with-css
    border: 0.5rem solid transparent;
    border-top: 0.6rem solid $border-color;
    content: "";
    height: 0;
    pointer-events: none; // https://developer.mozilla.org/ja/docs/Web/CSS/pointer-events
    position: absolute;
    right: 0.6rem;
    top: 0.8rem;
    width: 0;
    z-index: 5;
  }
  &:hover {
    &::after {
      border-top-color: $primary-color;
    }
  }
}

.form-checkbox {
  display: block;
  padding-right: 0.5em;
  position: relative;
  & input[type="checkbox"] {
    opacity: 0;
    outline: none;
    position: absolute;
    & + .checkbox-label {
      padding-left: 1.3rem;
      &::before {
        border: solid 1px $border-color;
        border-radius: 3px;
        content: "";
        cursor: pointer;
        height: 1.1rem;
        left: 0;
        position: absolute;
        top: 0.25rem;
        transition: all 0.3s;
        width: 1.1rem;
      }
      &::after {
        border: 0.2rem solid lighten($color: $border-color, $amount: 30%);
        border-radius: 1px;
        border-right: 0;
        border-top: 0;
        content: "";
        cursor: pointer;
        height: 0.55rem;
        left: 0.18rem;
        position: absolute;
        top: 0.42rem;
        transform: rotate(-45deg);
        transition: all 0.3s;
        width: 0.7rem;
      }
    }
    &:checked {
      & + .checkbox-label {
        &::before {
          background: $primary-color;
          border-color: $primary-color;
        }
        &::after {
          border-color: white;
        }
      }
    }
  }
}
