.form-label {
  display: block;
  padding: 0.5em 0;
}

.form-input,
.form-select {
  appearance: none;
  background: white;
  width: 100%;
  padding: 0.5em 0.6em;
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  &:focus {
    border-color: $primary-color;
  }
}

.form-input {
  &::placeholder {
    color: #999;
  }
}
