table {
  border-spacing: 0; // border-collapse: collapse; でも同じ?
  width: 100%;
  &.tbl-scroll {
    overflow-x: auto;
  }
  &.tbl-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: lighten($color: $bg-color, $amount: 2%);
      }
    }
  }
  &.tbl-hover {
    tbody {
      tr:hover {
        background: $bg-color;
      }
    }
  }
  // うーん
  td,
  th {
    border-bottom: solid 1px #999;
    padding: 1rem 0.5rem;
  }
}
